<div class="row">
    <div class="col-md-6">
        <h2>My Trips</h2>
    </div>
    
    <div class="col-md-6">
        <!-- picture goes here -->
        <img src="static/img/traffic.jpg" class="img-responsive img-rounded">
    </div>
</div>

<div class="clearfix"></div>
<br>
<div class="col-xs-12">
    {{#if trip}}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Start Zip Code</th>
                <th>End Zip Code</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            {{#each trip}}
            <tr>
                <td>{{this.startZip}}</td>
                <td>{{this.endZip}}</td>
                <td>{{#if this.sun}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.mon}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.tue}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.wed}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.thur}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.fri}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{#if this.sat}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{else}}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{{/if}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.endTime}}</td>
                <td><a href="/cancel-confirm?id={{this.tid}}">Cancel</a></td>
                {{!--<td>cap</td>--}}
                {{!--<td>numPeople</td>--}}
            </tr>
            {{/each}}        
        </tbody>
    </table>
    {{/if}}
</div>